.album-list {
  height: 80vh;
  width: 80vw;
  background-color: pink;
  overflow-y: auto;
}

.album-item {
  padding: 10px;
  border-bottom: 1px solid black;
}

.album-name {
  font-weight: bold;
}

.album-owner {
  margin-top: 5px;
}
